/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.scrollable {
	height: 250px;
	overflow: auto;
}

#draggable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
}